body * {
	font-family	: 'Montez', cursive !important;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, 
.uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, 
h1, h2, h3, h4, h5, h6 {
	font-family	: 'Montez', cursive !important;
}

.uk-navbar {
	width: calc(100% - 3.750em);
	position: fixed;
	top: 0px; left: 0px;
	padding: 0px 1.875em;
}

.uk-navbar-nav {
	font-size	: 2em;
	padding		: 1em 0px;
}
	.uk-navbar-nav > li:not(:first-child) {
		padding-left: 1em;
	}

.uk-navbar-nav > li > a {
    font-weight: normal;
    text-transform: lowercase;
    font-size: 0.875em;
}

.heart-logo {
	margin-top	: 0.15em;
	transform	: scale(0.9);
}
.heart {
	float		: left;
	margin		: 0.25em;
	transform	: rotate(-45deg);
}
	.heart, .heart:before, .heart:after {
		width			: 0.5em;
		height			: 0.5em;
		background		: #E5214A;  
		border-radius	: 500% 500% 500% 0%;
	}

	.heart:before, .heart:after {
		content	: '';
		display	: block;
		position: absolute;
	}
		.heart:before {
			margin		: 0.25em;
			transform	: rotate(0deg);
		}

		.heart:after {
			z-index		: -1;  
			margin-left	: 0.25em;
			margin-top	: 0.5em;
			transform	: rotate(0deg) translateY(-0.25em)  translateX(-0.25em); 
		}

.uk-card {
	border-radius: 9px;
	padding: 40px 40px;
}

.uk-card > .uk-card-title {
	font-size	: 2em;
}
	.uk-card > p {
		font-size	: 1.5em;
	}

.uk-accordion .uk-accordion-title {
	font-size	: 1.9em;
}
.uk-accordion .uk-accordion-content {
	font-size	: 1.45em;
	list-style	: none;
}
	.uk-accordion .uk-accordion-content li {
		white-space	: pre-wrap;
	}

.dearcard-container {
	padding-top: 150px;
}
.poemcard-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

div[data-name="mojs-shape"] {
	pointer-events: none;
}

@media screen and (max-width: 768px) {
	.uk-navbar {
		flex-wrap: wrap;
	}

	.uk-navbar-left,
	.uk-navbar-right {
		width: 100%;
		justify-content: center;
	}

	.uk-navbar-nav {
		padding-bottom: 0px;
	}
		.uk-navbar-right .uk-navbar-nav {
			width: 100%;
			justify-content: space-around;
			padding-top: 0px;
		}

	.content-container {
		padding-top: 200px;
		padding-bottom: 50px;
	}

	.dearcard-container,
	.poemcard-container {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.card-container {
		display: none;
	}
}