@media screen and (max-width: 768px) {
	.content-container {
		padding-top: 200px;
		padding-bottom: 50px;
	}

	.dearcard-container,
	.poemcard-container {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.card-container {
		display: none;
	}
}